<div class="content-body">

    <!-- row -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Liste des Agences</h4>
                        <button class="btn btn-success" [routerLink]="'/ajout-agence'">
                            <i style="padding-right : 5px" class="fa fa-plus"></i>Ajouter une Agence</button>
                        <div class="table-responsive">
                            <table *ngIf="agences" class="table table-striped table-bordered zero-configuration">
                                <thead>
                                    <tr>
                                        <th>Type d'Agence</th>
                                        <th>Code</th> 
                                        <th>Intitule</th>
                                        <th>Contact</th>
                                        <th>Utilisateur</th>
                                        <th>Telephone</th>
                                        <th>Adresse</th>
                                        <th>Agence Mére</th>
                                        <th>Région</th>
                                        <th>Etat</th>
                                        <th>Détails</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let agence of agences">
                                    <tr>
                                        <td>{{agence.type}}</td>
                                        <td>{{agence.code}}</td>
                                        <td>{{agence.intitule}}</td>
                                        <td>{{agence.contact}}</td>
                                        <td>{{agence.utilisateur}}</td>
                                        <td>{{agence.tel}}</td>
                                        <td>{{agence.adresse}}</td>
                                        <td>{{agence.agence_mere}}</td>
                                        <td>{{agence.region}}</td>
                                        <td>{{agence.etat}}</td>
                                        <td>{{agence.details}}</td>
                                        <td>
                                            <button  class="btn btn-primary" (click)="openUpdateAgence(agence)">
                                                <i class="fa fa-wrench"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Type d'Agence</th>
                                        <th>Code</th> 
                                        <th>Intitule</th>
                                        <th>Contact</th>
                                        <th>Utilisateur</th>
                                        <th>Telephone</th>
                                        <th>Adresse</th>
                                        <th>Agence Mére</th>
                                        <th>Région</th>
                                        <th>Etat</th>
                                        <th>Détails</th> 
                                        <th>Actions</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <div *ngIf="!agences" class="alert alert-warning">
                                <h2>Aucune Agence Trouvée</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->
