
  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; }
  
  /*.col-12 {
    flex: 0 0 100%;
    max-width: 100%; }*/
  
  
  .card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    padding: 1.88rem 1.81rem; }
  
  .card-title {
    margin-bottom: 2rem;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px; }
  
  .table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent; }
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6; }
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6; }
  .table tbody + tbody {
    border-top: 2px solid #dee2e6; }
  .table .table {
    background-color: #F3F3F9; }
  
  .table-sm th,
  .table-sm td {
  padding: 0.3rem; }
  
  .table-bordered {
  border: 1px solid #dee2e6; }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6; }
  .table-bordered thead th,
  .table-bordered thead td {
    border-bottom-width: 2px; }
  
  .table-borderless th,
  .table-borderless td,
  .table-borderless thead th,
  .table-borderless tbody + tbody {
  border: 0; }
  
  .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05); }
  
  .table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075); }
  
  .table-primary,
  .table-primary > th,
  .table-primary > td {
  background-color: #d8d7fd; }
  
  .table-hover .table-primary:hover {
  background-color: #c0bffc; }
  .table-hover .table-primary:hover > td,
  .table-hover .table-primary:hover > th {
    background-color: #c0bffc; }
  
  .table-secondary,
  .table-secondary > th,
  .table-secondary > td {
  background-color: #e0e2ee; }
  
  .table-hover .table-secondary:hover {
  background-color: #d0d3e5; }
  .table-hover .table-secondary:hover > td,
  .table-hover .table-secondary:hover > th {
    background-color: #d0d3e5; }
  
  .table-success,
  .table-success > th,
  .table-success > td {
  background-color: #d7f4d7; }
  
  .table-hover .table-success:hover {
  background-color: #c3efc3; }
  .table-hover .table-success:hover > td,
  .table-hover .table-success:hover > th {
    background-color: #c3efc3; }
  
  .table-info,
  .table-info > th,
  .table-info > td {
  background-color: #cddaff; }
  
  .table-hover .table-info:hover {
  background-color: #b4c7ff; }
  .table-hover .table-info:hover > td,
  .table-hover .table-info:hover > th {
    background-color: #b4c7ff; }
  
  .table-warning,
  .table-warning > th,
  .table-warning > td {
  background-color: #fbe4d0; }
  
  .table-hover .table-warning:hover {
  background-color: #f9d7b9; }
  .table-hover .table-warning:hover > td,
  .table-hover .table-warning:hover > th {
    background-color: #f9d7b9; }
  
  .table-danger,
  .table-danger > th,
  .table-danger > td {
  background-color: #ffd2d2; }
  
  .table-hover .table-danger:hover {
  background-color: #ffb9b9; }
  .table-hover .table-danger:hover > td,
  .table-hover .table-danger:hover > th {
    background-color: #ffb9b9; }
  
  .table-light,
  .table-light > th,
  .table-light > td {
  background-color: #fdfdfe; }
  
  .table-hover .table-light:hover {
  background-color: #ececf6; }
  .table-hover .table-light:hover > td,
  .table-hover .table-light:hover > th {
    background-color: #ececf6; }
  
  .table-dark,
  .table-dark > th,
  .table-dark > td {
  background-color: #c6c6c6; }
  
  .table-hover .table-dark:hover {
  background-color: #b9b9b9; }
  .table-hover .table-dark:hover > td,
  .table-hover .table-dark:hover > th {
    background-color: #b9b9b9; }
  
  .table-active,
  .table-active > th,
  .table-active > td {
  background-color: rgba(0, 0, 0, 0.075); }
  
  .table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075); }
  .table-hover .table-active:hover > td,
  .table-hover .table-active:hover > th {
    background-color: rgba(0, 0, 0, 0.075); }
  
  .table .thead-dark th {
  color: #F3F3F9;
  background-color: #212529;
  border-color: #32383e; }
  
  .table .thead-light th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6; }
  
  .alert-warning {
    margin-top: 50px;
  }
  
  .btn-success {
    margin-right: 950px;
    margin-bottom: 15px;
  }

  