.content-body {  
    background-color: #F5F7FA;
}

section .row {
    justify-content: center;
}

.grey-bg .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section .card  {
    width: 70%;
    margin: 10px 0;
    margin-left: 35px;

}